*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table-container{
    margin: auto;
    margin-top: 4rem;
    width: 80%;
    
}


.form-container{
    width: 40%;
    margin: 5rem auto 5rem;
    border: 2px solid grey;
    padding: 2rem;
}


.money{
    text-align: center;
}

.logo{
    width: 23px;
    height: 23px;
    border-radius: 50%;
}